body {
  font-family: 'adobe-clean', sans-serif;
}

.qa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.qa-heading {
  text-transform: uppercase;
  font-weight: lighter;
}

.qa-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #333;
}

.qa-search-input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  font-size: 16px;
  outline: none;
}

.qa-search-btn {
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  outline: none;
}

.qa-search-icon {
  font-size: 18px;
}

input[type="text"] {
  flex-grow: 1;
  margin-right: 5px;
}

.qa-btn-load-more,
.qa-btn-add-question {
  display: inline-block;
  padding: 8px 16px;
  margin: 8px;
  border: 1px solid #333;
  background-color: transparent;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}


.qa-question-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.qa-question-list {
  max-height: 500px; /* Adjust this value according to your preference */
  overflow-y: auto;
}

.qa-question-body {
  font-weight: bold;
}

.qa-question-heading {
  display: flex;
  align-items: center;
}

.qa-question-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.9em;
}

.qa-answer {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  margin-top: 5px;
}

.qa-answer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qa-btn-helpful,
.qa-btn-report {
  background-color: transparent;
  border: none;
  color: #333;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  outline: none;
}

.qa-modal-q-main,
.qa-modal-a {
  display: flex;
  flex-direction: column;
}
